@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900&display=swap');


$normal: 400;
$light: 300;
$medium: 500;
$bold: 700;
$black: 900;

$main-color: #313541;
$link-color: #16181e;
$brand-color: #00bd87;

$brand-color-hover: rgb(3, 205, 141);

$main-font: 'Poppins', sans-serif;
